/* EVENTS */

.events-preview {

	position: relative;
	margin-bottom: 20px;
	padding: 20px 0;
	border-top: 1px solid #999;

	&:first-child {
		border-top: none;
	}

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 35px;
	}

	h1 {
		margin: 0 0 5px;
		font-size: 130%;
		line-height: 1.1;
	}

	h2 {
		margin: 0 0 5px;
		font-size: 120%;
		line-height: 1.1;
	}

	@media only screen and (min-width: 570px) {

		h1,
		h2 {
			max-width: 47%;
		}
	}

	h1 a,
	h2 a,
	h1 a:hover,
	h2 a:hover {
		text-decoration: none;
		box-shadow: none;
	}

	.more-info-buttons {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;
		padding-right: 6px;
		text-align: right;

		@media only screen and (min-width: 570px) {
			position: absolute;
			top: 20px;
			right: 0;
			width: 52%;
		}

		a.button {
			margin: 0 0 6px 6px;
			padding: 4px 6px;
		}

	}

	.venue {
		margin-top: 10px;
		margin-left: 40px;
	}

}


.post-type-archive-events article {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 8px 0;
	padding: 0;
	padding: 10px;
	font-size: 16px;
	transition: height 0.3s;
}


.event-listing-compact {

	.more-info-buttons {
		position: relative;
		top: auto;
		right: auto;
		width: auto;
		text-align: left;
	}

	h1,
	h2 {
		max-width: none;
	}

	.venue {
		margin-top: 5px;
		margin-left: 0;
	}
}


.events-full {

	h1,
	h2 {
		margin: 0 0 15px;
		line-height: 1.1;
	}
}

.more-events {
	margin: 0 0 20px;
	font-size: 90%;
	text-align: center;

	a {
		color: #fff;
	}
}

a.button-map,
a.button.small {
	margin: -3px 0 0 10px;
	padding: 3px 8px;
	font-size: 0.75em;
	line-height: 1;
	vertical-align: middle;
}

.more-info-buttons {
	margin: 15px 0 5px;
}

.featuredwork,
.event-description {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #aaa;
}

.short-description {
	margin: 5px 40px;
	font-size: 0.85em;
}

h2.accordion-header {
	margin: 20px 0;
	padding: 10px 10px 5px 10px;
	color: #fff;
	font-size: 2em;
	line-height: 1.1;
	background: #555;
	cursor: pointer;
}

.js .accordion-content {
	display: none;
}


/* hide empty button in upper left of google maps */
.gm-style-mtc {
	display: none;
}
