/* EVENTS */

.post-type-archive-events article {
	display: block;
	padding: 0;
	margin: 0 0 8px 0;
	padding: 10px;
	transition: height 0.3s;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	position: relative;
}

.events-preview h1 {
	margin: 0 0 5px;
	line-height: 1.1;
	font-size: 130%;
}

.events-preview h2 {
	margin: 0 0 5px;
	line-height: 1.1;
	font-size: 120%;
}

.events-preview {
	position: relative;
}

.events-preview .more-info-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 45%;
	margin: 0;
	padding: 0;
	text-align: right;
}

.events-preview h1,
.events-preview h2 {
	max-width: 53%;
}

@media only screen and (max-width: 570px) {
	.events-preview .more-info-buttons {
		position: relative;
		;
		top: auto;
		right: auto;
		width: 100%;
		margin: 0;
		padding: 0;
		padding-right: 6px;
		text-align: right;
	}
	.events-preview h1,
	.events-preview h2 {
		max-width: none;
	}
}

.events-preview .more-info-buttons a.button {
	padding: 4px 6px;
	margin: 0 0 6px 6px;
}

.event-listing-past .events-preview {
	border-top: 1px solid #999;
	padding-top: 15px;
}

.event-listing-past .events-preview:last-child {
	margin-bottom: 0;
	padding-bottom: 35px;
}

.events-full h1,
.events-full h2 {
	margin: 0 0 15px;
	line-height: 1.1;
}

.more-events {
	text-align: center;
	margin: 0 0 20px;
	font-size: 90%;
}

.more-events a {
	color: #fff;
}

a.button-map,
a.button.small {
	margin: -3px 0 0 10px;
	padding: 3px 8px;
	font-size: 0.75em;
	line-height: 1;
	vertical-align: middle;
}

.more-info-buttons {
	margin: 15px 0 5px;
}

.featuredwork,
.event-description {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #aaa;
}

.events-preview .venue {
	margin-top: 10px;
	margin-left: 40px;
}

.short-description {
	font-size: 0.85em;
	margin: 5px 40px;
}

h2.accordion-header {
	background: #555;
	color: #fff;
	font-size: 2em;
	line-height: 1.1;
	margin: 20px 0;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
}
