/* EVENTS */

.post-type-archive-events article {
	display: block;
	padding: 0;
	margin: 0 0 8px 0;
	padding: 10px;
	transition: height 0.3s;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	position: relative;
}

.events-preview h1 {
	margin: 0 0 5px;
	line-height: 1.1;
	font-size: 130%;
}
.events-preview h2 {
	margin: 0 0 5px;
	line-height: 1.1;
	font-size: 120%;
}
.events-preview h1 a,
.events-preview h2 a,
.events-preview h1 a:hover,
.events-preview h2 a:hover {
	text-decoration: none;
	box-shadow: none;
}

.events-preview {
	position: relative;
	padding: 0 0 1.5em;
}

.events-preview .more-info-buttons {
	position: absolute;
	top: 20px;
	right: 0;
	width: 52%;
	margin: 0;
	padding: 0;
	text-align: right;
}
.event-listing-compact .more-info-buttons {
	position: relative;
	top: auto;
	right: auto;
	width: auto;
	text-align: left;
}

.events-preview h1,
.events-preview h2 {
	max-width: 47%;
}
.event-listing-compact h1,
.event-listing-compact h2 {
	max-width: none;
}
@media only screen and (max-width: 570px) {
	.events-preview .more-info-buttons {
		position: relative;
		top: auto;
		right: auto;
		width: 100%;
		margin: 0;
		padding: 0;
		padding-right: 6px;
		text-align: right;
	}
	.events-preview h1,
	.events-preview h2 {
		max-width: none;
	}
}

.events-preview .more-info-buttons a.button {
	padding: 4px 6px;
	margin: 0 0 6px 6px;
}

.events-preview {
	border-top: 1px solid #999;
	padding: 20px 0;
	margin-bottom: 20px;
}
.events-preview:first-child {
	border-top: none;
}
.events-preview:last-child {
	margin-bottom: 0;
	padding-bottom: 35px;
}

.events-full h1,
.events-full h2 {
	margin: 0 0 15px;
	line-height: 1.1;
}

.more-events {
	text-align: center;
	margin: 0 0 20px;
	font-size: 90%;
}

.more-events a {
	color: #fff;
}

a.button-map,
a.button.small {
	margin: -3px 0 0 10px;
	padding: 3px 8px;
	font-size: 0.75em;
	line-height: 1;
	vertical-align: middle;
}

.more-info-buttons {
	margin: 15px 0 5px;
}

.featuredwork,
.event-description {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #aaa;
}

.events-preview .venue {
	margin-top: 10px;
	margin-left: 40px;
}
.event-listing-compact .venue {
	margin-left: 0;
	margin-top: 5px;
}
.short-description {
	font-size: 0.85em;
	margin: 5px 40px;
}

h2.accordion-header {
	background: #555;
	color: #fff;
	font-size: 2em;
	line-height: 1.1;
	margin: 20px 0;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
}


a.button {
	background-color: #777;
	color: #fff;
	text-decoration: none;
	box-shadow: none;
	display: inline-block;
	padding: 10px;
	font-size: 1em;
	line-height: 1;
	border-radius: 3px;
	transition: background-color 300ms;
	margin: 0 10px 10px 0;
	border: 0;
}
a.button:hover {
	background-color: #999;
	color: #fff;
}
a.button:focus,
a.button:active {
	background-color: #666;
	color: #fff;
	outline: none;
}

/* hide empty button in upper left of google maps */
.gm-style-mtc {
	display: none;
}
